*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* body {
  font-family:'Courier New', Courier, monospace;
  /*background: rgb(255,168,182);
  background: linear-gradient( rgba(255,168,182,1) 0%, rgba(157,249,239,1) 29%, rgba(0,212,255,1) 100%);
  animation: gradient 15s ease infinite;
  height: 100vh;
} */

body {
	background: linear-gradient(-45deg, rgba(255,168,182,1) 0%, rgba(157,249,239,1) 29%, rgba(0,212,255,1), #83e2d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color:#a28089
  
  
}

.card {
  
  border-radius: 15px;
  border-width: 1px;
  box-shadow: rgba(10, 10, 10, 0.15) 10px 12px 8px 10px;
  color: #a28089;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}



.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}



.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color:#ffa8B6;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 10, 0, 0.2) 10px 1px 1px
    0px;
  color: hsl(0, 100%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor:pointer;

}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid  #ffa8B6;
  border-radius: 16px ;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
